

calendar-header-container { /* header bereich der für all day events verwendet wird */
    background-color: #0000f0;
}

calendar-header-container[relation="today"] {
    background-color: #f00000 !important;
}
calendar-header-container[off-time="true"]{
	background-color: #0f0000 !important;
}
calendar-header-container[selected="true"]{
	background-color: #00f000 !important;
}
calendar-header-container[weekend="true"]{
	background-color: #000f00 !important;
}

.calendar-event-column-linebox { /* box für eine stunde in einer col; über multiday-column-bg-box; */
   /* background-image: url("weather.png"); */
   /* background-size: cover;*/
}


calendar-event-column {
    background-color: #008800 !important;
}

.multiday-column-bg-box { /* gesamte höhe der col; über calendar-event-column; wird von "calendar-event-column-linebox" boxes mit attributes "today", "selected" oder "off time" verdeckt */
  background-image: url("weather.png") !important;
  background-size: cover !important;
  background-color: #000f00 !important;
}


.multiday-column-top-box {  /* gesamte höhe der col; über multiday-column-bg-box; wird NICHT von "calendar-event-column-linebox" verdeckt */
	background-image: url("weather.png") !important;
  background-size: contain !important;
  opacity: 0.6;
}

